# connection libraries
paramiko
ansible-pylibssh

# sanity tests
pycodestyle
pylint
voluptuous 
black
click==8.0.4 # black fails with newer version 

# units
pytest
pytest-xdist
pytest-mock
mock

# utils
yamllint
galaxy_importer
antsibull-changelog

# network resource builder
jsonref

